# Replace the necessary fields with your own info.
[user]
	name = # username
	email = # email
[push]
	default = simple

[alias]
    lg = !"git lg1"
    lg1 = !"git lg1-specific --all"
    lg2 = !"git lg2-specific --all"
    lg3 = !"git lg3-specific --all"

    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

[alias]
  parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"
  new = "!f() { curl -s -i -X POST -u \"$(git config --global user.name)\" https://api.github.com/user/repos -d '{\"name\": \"'$1'\"}'; echo \"$1\"; }; f"
  delete = "!f() { curl -i -X DELETE -u \"$(git config --global user.name)\" https://api.github.com/repos/$(git config --global user.name)/$1; }; f"
  ls = "!f() { curl -s -u \"$(git config --global user.name)\" https://api.github.com/user/repos?sort=created; }; f | python3 -c \"import sys, json; [print(x['full_name']) for x in json.load(sys.stdin)]\""
  rename = "!f() { curl -s -o /dev/null -w \"%{http_code}\n\" -X PATCH -u $(git config --global user.name) https://api.github.com/repos/$(git config --global user.name)/$1 -d '{\"name\":\"'$2'\"}'; }; f"

[alias]
  cm = "commit -m"
  pom = "push origin master"
  s = "status"
  addl = "add ."
