[user]
  name = Kyle Mazza
  email = kyleamazza@gmail.com

[color]
  all = true
  ui = true

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax

[push]
  default = simple

[core]
  quotepath = false
  editor = nvim
	
[init]
  defaultBranch = main

[pull]
  rebase = false

[alias]
  parent = ""
  new = ""
  delete = ""
  ls = ""
  rename = ""

[alias]
  author="shortlog -sne --no-merges"
  authors="shortlog -sne --no-merges"
  c = "commit"
  cm = "commit"
  cmm = "commit -m"
  commitcrime = "commit --no-verify"
  ca = "commit --amend"
  cv = "commit --verbose"
  current = "symbolic-ref --short HEAD"
  pom = "push origin main"
  poc = "!f() { git push origin $(git current); }; f"
  isweartoholymotherof = "!f() { git push origin --no-verify $(git current); }; f"
  please = "isweartoholymotherof"
  justdoit = "please"
  fkndoit = "!f() { git push origin --no-verify --force $(git current); }; f"
  pushcrime = "fkndoit"
  pof = "!f() { git push origin --force $(git current); }; f"
  puof = "!f() { git pull origin --force $(git current); }; f"
  puoc = "!f() { git pull origin $(git current); }; f"
  s = "status"
  b = "branch"
  d = "diff"
  ds = "diff --staged"
  co = "checkout"
  cot = "!f() { git fetch &> /dev/null; git checkout --track origin/$1; }; f"
  addl = "!f() { git ls-files --modified | xargs git add; }; f"
  addlu = "add ."
  boom = "!f() { echo \"Resetting files...\"; git reset --hard HEAD; }; f"
  rename = "branch -m"
  rn = "rename"
  rb = "rebase"
  rbc = "rb --continue"
  rba = "rb --abort"
  sw = "!f() { git fetch &> /dev/null; git switch $1; }; f"
  st = "stash"
  std = "stash drop"
  sl = "stash list"
  slist = "stash list"
  slook = "stash list"
  speep = "stash list"
  sp = "stash pop"
  spop = "stash pop"
  spoop = "stash pop"
  poop = "stash pop"
  reattachhead = "switch -"
  recapitate = "switch -"
  wip = "!f() { git addlu && git commitcrime -m \"WIP: $1\"; }; f"
  wipa = "!f() { git addlu && git ca --no-verify; }; f"

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
